//Add .classbxr to any element to turn on annotations for it and its contents
.classbxr,
.classbxr * {
  width: auto !important;
  border: 1px solid cornflowerblue !important;
  padding: .5em .25em .25em .25em !important;
  margin: .5em .25em .25em .25em !important;
  position: relative;
  &:hover:before {
    background: yellow;
    color: black;
    transform: scale3d(1.2, 1.2, 1) rotateX(360deg);
    box-shadow: 0 .1em .2em rgba(0,0,0,.3);
    // font-size: x-small;
  }
  &:before {
    transition: .3s all ease-in-out;
    transform-style: preserve-3d;
    content: '.' attr(class);
    font-size: xx-small;
    background-color: white;
    color: cornflowerblue;
    position: absolute;
    top: -1.5ex;
    white-space: nowrap;
    font-family: monospace;
  }
  // Get nested elements down to a reasonable level
  * {
    border-color: pink !important;
    * {
      border-color: purple !important;
      * {
        border-color: green !important;
        * {
          border-color: orange !important;
        }
      }
    }
  }
  // Add the element name for common elements
  @each $element in a,
  abbr,
  acronym,
  address,
  applet,
  area,
  article,
  aside,
  audio,
  b,
  base,
  basefont,
  bdi,
  bdo,
  bgsound,
  big,
  blink,
  blockquote,
  body,
  br,
  button,
  canvas,
  caption,
  center,
  cite,
  code,
  col,
  colgroup,
  command,
  content,
  data,
  datalist,
  dd,
  del,
  details,
  dfn,
  dialog,
  dir,
  div,
  dl,
  dt,
  element,
  em,
  embed,
  fieldset,
  figcaption,
  figure,
  font,
  footer,
  form,
  frame,
  frameset,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  head,
  header,
  hgroup,
  hr,
  html,
  i,
  iframe,
  image,
  img,
  input,
  ins,
  isindex,
  kbd,
  keygen,
  label,
  legend,
  li,
  link,
  listing,
  main,
  map,
  mark,
  marquee,
  menu,
  menuitem,
  meta,
  meter,
  multicol,
  nav,
  nobr,
  noembed,
  noframes,
  noscript,
  object,
  ol,
  optgroup,
  option,
  output,
  p,
  param,
  picture,
  plaintext,
  pre,
  progress,
  q,
  rp,
  rt,
  rtc,
  ruby,
  s,
  samp,
  script,
  section,
  select,
  shadow,
  slot,
  small,
  source,
  spacer,
  span,
  strike,
  strong,
  style,
  sub,
  summary,
  sup,
  table,
  tbody,
  td,
  template,
  textarea,
  tfoot,
  th,
  thead,
  time,
  title,
  tr,
  track,
  tt,
  u,
  ul,
  var,
  video,
  wbr {
    #{$element} {
      &:before {
        content: '#{$element}'
      }
      &[class]:before {
        content: '#{$element}.' attr(class);
      }
    }
  }
}
